<div class="container mt-5 py-5 px-3">

<form (submit)="addProject()">
  <div class="form-group">
    <label for="owner">Company Name</label>
    <input type="text" class="form-control" id="owner" name="ownerInput" placeholder="FIS" [(ngModel)]="project.owner">
  </div>

  <div class="form-group">
    <label for="name">Project Name</label>
    <input type="text" class="form-control" id="name" name="nameInput" placeholder="Ima Market" [(ngModel)]="project.name">
  </div>

  <div class="form-group">
    <label for="description">Project Description</label>
    <input type="text" class="form-control" id="description" name="descriptionInput"  [(ngModel)]="project.description">
  </div>

  <div class="form-group">
    <label for="contributor">Project Coordinator Contact</label>
    <input type="email" class="form-control" id="contributor" name="contributorInput" [(ngModel)]="project.contributor">
  </div>

  <button type="submit" class="btn btn-primary">Add Details</button>
</form>

</div>
