
<div class="container mt-5 pt-3">
<h2 class="text-inverse">Technically Contributions</h2>
<!-- <form (submit)="repoSubmit()">
  <div class="form-group">
    <label for="repo">Your Git Repository</label>
    <input type="url" class="form-control" name="repo" placeholder="Your Repo Link" [(ngModel)]="repository">
  </div>
  <button type="submit" class="btn btn-inverse">Submit</button>
</form> -->
<h4 class="text-inverse py-3"> Push your code on this repo <br />
  <a href="https://github.com/DevOfCodes/SIH">https://github.com/DevOfCodes/SIH</a>
</h4>
</div>
